<mat-card>
  <h2>{{ editMode ? 'Editar Paciente' : 'Nuevo Paciente' }}</h2>

  <form [formGroup]="pacienteForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-100">
      <mat-label>Tipo Documento</mat-label>
      <input matInput formControlName="tipoDocumento"  placeholder="tipo de documento"/>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Número Documento</mat-label>
      <input matInput formControlName="numeroDocumento" placeholder="numero de documento" />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Nombre Completo</mat-label>
      <input matInput formControlName="nombreCompleto" placeholder="nombre completo" />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput type="date" formControlName="fechaNacimiento"  placeholder="fecha de nacimiento"/>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput type="email" formControlName="correoElectronico"  placeholder="correo electronico"/>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Género</mat-label>
      <input matInput formControlName="genero"  placeholder="genero"/>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="direccion"  placeholder="direccion" />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono"  placeholder="telefono" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      {{ editMode ? 'Actualizar' : 'Guardar' }}
    </button>
    <button mat-raised-button color="warn" routerLink="/" type="button">
      Cancelar
    </button>
  </form>
</mat-card>
