
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "Bootstrap" as *;

@import '@angular/material/prebuilt-themes/indigo-pink.css';

/*
 * 3. Add your global custom styles here.
 */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

.mat-form-field {
  width: 100%;
}
